@charset "UTF-8";
@media all and (max-width: 1903px) {
  #wrap #main #section6 .container .wrap .content .img-box > li .gap .img-bg .title ul li i {
    width: 55.193%;
  }
  #wrap #main #section8 .container .wrap .content ul li .text-box .gap {
    padding: 14.526%;
  }
}

@media all and (max-width: 1170px) {
  #wrap #main #section2 {
    padding: 11.111% 0;
  }
  #wrap #main #section2 .container .wrap .content ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #main #section2 .container .wrap .content ul li {
    width: 50%;
  }
  #wrap #main #section2 .container .wrap .content ul li .gap {
    padding: 15px;
  }
  #wrap #main #section2 .container .wrap .title {
    padding: 0 0 7.692% 0;
  }
  #wrap #main #section3 {
    padding: 11.111% 0;
  }
  #wrap #main #section3 .container .wrap .title {
    padding: 0 0 7.692% 0;
  }
  #wrap #main #section5 {
    padding: 11.111% 0;
  }
  #wrap #main #section6 .container .wrap .content .img-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #main #section6 .container .wrap .content .img-box > li {
    width: 50%;
  }
  #wrap #main #section6 .container .wrap .content .img-box > li .gap {
    padding: 5px;
  }
  #wrap #main #section7, #wrap #main #section9, #wrap #main #section10 {
    padding: 11.111% 0;
  }
  #wrap #main #section7 .container .wrap .title, #wrap #main #section9 .container .wrap .title, #wrap #main #section10 .container .wrap .title {
    padding: 0 0 7.692% 0;
  }
  #wrap #footer {
    padding: 4.992%  0  3.153%  0;
  }
  #wrap #footer .container .wrap > ul > li:nth-child(2) {
    padding: 2.564%  0;
  }
  #wrap #footer .container .wrap > ul > li:nth-child(3) {
    padding: 1.709%  0 0 0;
  }
}

@media all and (max-width: 991px) {
  #wrap #header .container {
    max-width: 750px;
  }
  #wrap #header .container .wrap .nav #nav {
    position: absolute;
    top: 72px;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  #wrap #header.addH60 .container .wrap .nav #nav {
    top: 60px;
  }
  #wrap #header .container .wrap .nav #nav > ul {
    display: block;
    padding: 0 0 0 0;
    background: #1c1c1c;
  }
  #wrap #header .container .wrap .nav #nav > ul li {
    width: 100%;
  }
  #wrap #header .container .wrap .nav #nav > ul > li > .sub .sub-wrap ul {
    display: block;
  }
  #wrap #header .container .wrap .nav #nav > ul > li > .sub .sub-wrap ul li {
    width: 100%;
  }
  #wrap #header .container .wrap .nav #nav > ul > li > a {
    color: #fff;
    height: 40px;
    line-height: 40px;
  }
  #wrap #header .container .wrap .nav #nav > ul > li > .sub {
    position: relative;
    top: 0;
  }
  #wrap #header.addH60 .container .wrap .nav #nav > ul > li > .sub {
    top: 0;
  }
  #wrap #header.addH60 .container .wrap .nav #nav > ul > li > a {
    height: 40px;
    line-height: 40px;
  }
  #wrap #header .container .wrap .nav #nav {
    display: none;
  }
  #wrap #header .container .wrap .nav #nav > ul > li > .sub24 {
    width: 100%;
  }
  #wrap #header .container .wrap .nav #nav > ul > li > .sub .sub-wrap {
    padding: 0;
  }
  #wrap #header .container .wrap .nav #nav > ul > li > .sub .sub-wrap ul li dl dt {
    padding: 0;
  }
  #wrap #header .container .wrap .nav #nav > ul > li > .sub24 .sub-wrap > ul > li .sub-sub {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
  }
  #wrap #header .container .wrap .nav #nav > ul > li > .sub24 .sub-wrap > ul > li .sub-sub .sub-sub-wrap {
    padding: 0;
  }
  #wrap #header .container .wrap .nav #nav > ul > li > .sub {
    display: none;
  }
  #wrap #header .container .wrap .nav #nav > ul > li > .sub .sub-wrap ul li dl dt img, #wrap #header .container .wrap .nav #nav > ul > li > .sub .sub-wrap ul li dl dd img {
    display: none;
  }
  #wrap #header .container .wrap .nav #nav > ul > li > .sub.sub1 {
    display: none;
  }
  #wrap #header .container .wrap .nav #nav > ul > li > .sub.sub2 {
    display: none;
  }
  #wrap #header .container .wrap .nav #nav > ul > li > .sub.sub2 .sub-wrap ul li .sub-sub.sub2-1, #wrap #header .container .wrap .nav #nav > ul > li > .sub.sub2 .sub-wrap ul li .sub-sub.sub2-2, #wrap #header .container .wrap .nav #nav > ul > li > .sub.sub2 .sub-wrap ul li .sub-sub.sub2-3, #wrap #header .container .wrap .nav #nav > ul > li > .sub.sub2 .sub-wrap ul li .sub-sub.sub2-4, #wrap #header .container .wrap .nav #nav > ul > li > .sub.sub2 .sub-wrap ul li .sub-sub.sub2-5 {
    display: block;
  }
  #wrap #header .container .wrap .nav #nav > ul > li > .sub.sub3 {
    display: none;
  }
  #wrap #header .container .wrap .nav #nav > ul > li > .sub.sub4 {
    display: none;
  }
  #wrap #header .container .wrap .nav #nav > ul > li > .sub.sub4 .sub-wrap ul li .sub-sub.sub4-1, #wrap #header .container .wrap .nav #nav > ul > li > .sub.sub4 .sub-wrap ul li .sub-sub.sub4-2, #wrap #header .container .wrap .nav #nav > ul > li > .sub.sub4 .sub-wrap ul li .sub-sub.sub4-3, #wrap #header .container .wrap .nav #nav > ul > li > .sub.sub4 .sub-wrap ul li .sub-sub.sub4-4, #wrap #header .container .wrap .nav #nav > ul > li > .sub.sub4 .sub-wrap ul li .sub-sub.sub4-5, #wrap #header .container .wrap .nav #nav > ul > li > .sub.sub4 .sub-wrap ul li .sub-sub.sub4-6, #wrap #header .container .wrap .nav #nav > ul > li > .sub.sub4 .sub-wrap ul li .sub-sub.sub4-7, #wrap #header .container .wrap .nav #nav > ul > li > .sub.sub4 .sub-wrap ul li .sub-sub.sub4-8, #wrap #header .container .wrap .nav #nav > ul > li > .sub.sub4 .sub-wrap ul li .sub-sub.sub4-9, #wrap #header .container .wrap .nav #nav > ul > li > .sub.sub4 .sub-wrap ul li .sub-sub.sub4-10, #wrap #header .container .wrap .nav #nav > ul > li > .sub.sub4 .sub-wrap ul li .sub-sub.sub4-11 {
    display: block;
  }
  #wrap #header .container .wrap .nav #nav > ul > li > .sub.sub5, #wrap #header .container .wrap .nav #nav > ul > li > .sub.sub6 {
    display: none;
  }
  #wrap #header .container .wrap .nav .mobile-btn-box {
    display: block;
  }
  #wrap #header .container .wrap .nav #aside {
    width: 80px;
  }
  #wrap #main #section1 .container .wrap .slide-container .slide-view .slide-wrap .slide .title h3 {
    font-size: 1.816347124vw;
  }
  #wrap #main #section1 .container .wrap .slide-container .slide-view .slide-wrap .slide .title h2 {
    font-size: 7.063572149vw;
    padding: 1.576%  0;
  }
  #wrap #main #section3 .container .wrap .content ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #main #section3 .container .wrap .content ul li {
    width: 50%;
  }
  #wrap #main #section3 .container .wrap .content ul li .gap {
    padding: 15px;
  }
  #wrap #main #section5 .container .wrap .content .svg-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #main #section5 .container .wrap .content .svg-box li {
    width: 50%;
  }
  #wrap #main #section5 .container .wrap .content .svg-box li > div {
    padding: 30px 0;
  }
  #wrap #main #section7 .container .wrap .content > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #main #section7 .container .wrap .content > ul > li {
    width: 50%;
  }
  #wrap #main #section7 .container .wrap .content > ul > li .gap {
    margin: 15px;
  }
  #wrap #main #section8 .container .wrap .content ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    text-align: center;
  }
  #wrap #main #section8 .container .wrap .content ul li {
    width: 100%;
  }
  #wrap #main #section8 .container .wrap .content ul li .bg-img {
    height: 55.49949546vw;
  }
  #wrap #main #section8 .container .wrap .content ul li .text-box .gap .text h3 {
    font-size: 4.036326942vw;
    padding: 3.556%  0;
  }
  #wrap #main #section8 .container .wrap .content ul li .text-box .gap .text p {
    font-size: 1.41271443vw;
    line-height: 180%;
  }
  #wrap #main #section8 .container .wrap .content ul li .text-box .gap .text span {
    padding: 4.978% 0 0 0;
  }
  #wrap #main #section9 .container .wrap .title h2 {
    font-size: 1.210898083vw;
  }
  #wrap #main #section9 .container .wrap .title h3 {
    font-size: 3.229061554vw;
  }
  #wrap #main #section9 .container .wrap .content ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #main #section9 .container .wrap .content ul li {
    width: 50%;
  }
  #wrap #main #section9 .container .wrap .content ul li .gap {
    padding: 15px;
  }
  #wrap #main #section10 .container .wrap .title h2 {
    font-size: 1.210898083vw;
  }
  #wrap #main #section10 .container .wrap .title h3 {
    font-size: 3.229061554vw;
  }
  #wrap #main #section10 .container .wrap .content form ul li:last-child {
    padding: 12.345679%  0 0 0;
  }
  #wrap #main #section10 .container .wrap .content .list-box {
    width: 65.5172414%;
    padding: 8.7719298%  0 0 0;
  }
  #wrap #main #section10 .container .wrap .content form ul {
    width: 65.5172414%;
  }
  #wrap #main #section10 .container .wrap .content form ul li div button {
    height: 40px;
    padding: 0;
    width: 160px;
  }
  #wrap #footer .container .wrap > ul > li ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    text-align: center;
  }
  #wrap #footer .container .wrap > ul > li:nth-child(1) ul li {
    width: 100%;
  }
  #wrap #footer .container .wrap > ul > li:nth-child(1) ul li .gap h1 {
    padding: 20px 0 0 0;
  }
  /* 메인메뉴 */
}

@media all and (max-width: 860px) {
  #wrap #main #section6 .container .wrap .content .img-box > li {
    width: 100%;
  }
  #wrap #main #section6 .container .wrap .content .img-box > li .gap {
    padding: 15px;
  }
}

@media all and (max-width: 760px) {
  #wrap #main #section2 .container .wrap .content ul li {
    width: 100%;
  }
  #wrap #main #section2 .container .wrap .content ul li .gap {
    padding: 15px;
  }
  #wrap #main #section2 .container .wrap .title h2 {
    font-size: 1.578947368vw;
  }
  #wrap #main #section2 .container .wrap .title p {
    font-size: 3.289473684vw;
  }
  #wrap #main #section3 .container .wrap .title h2 {
    font-size: 1.842105263vw;
  }
  #wrap #main #section3 .container .wrap .title h3 {
    font-size: 4.210526316vw;
  }
  #wrap #main #section4 .container .wrap .menu .menu-container {
    height: auto;
    padding: 11.053%  0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #wrap #main #section4 .container .wrap .menu .menu-container ul li {
    display: block;
    text-align: center;
    padding: 8px 0;
  }
  #wrap #main #section7 .container .wrap .title h2 {
    font-size: 1.578947368vw;
  }
  #wrap #main #section7 .container .wrap .title h3 {
    font-size: 4.210526316vw;
  }
}

@media all and (max-width: 660px) {
  #wrap #footer .container .wrap > ul > li:nth-child(3) ul {
    padding: 0 0 30px 0;
  }
  #wrap #footer .container .wrap > ul > li:nth-child(3) ul li {
    width: 100%;
    padding: 5px 0;
  }
  #wrap #footer .container .wrap > ul > li:nth-child(3) p {
    text-align: center;
  }
}

@media all and (max-width: 600px) {
  #wrap #main #section10 .container .wrap .content .list-box {
    width: 80%;
    padding: 8.7719298%  0 0 0;
  }
  #wrap #main #section10 .container .wrap .content form ul {
    width: 80%;
  }
}

@media all and (max-width: 560px) {
  #wrap #main #section3 .container .wrap .content ul li {
    width: 100%;
  }
}

@media all and (max-width: 500px) {
  #wrap #main #section1 .container .wrap .slide-container .slide-view .slide-wrap .slide .title h2 {
    padding: 3%  0;
  }
  #wrap #main #section1 .container .wrap .slide-container .slide-view .slide-wrap .slide .title p a {
    width: 140px;
    height: 32px;
    line-height: 30px;
    border-radius: 16px;
    font-size: 10px;
  }
  #wrap #main #section5 .container .wrap .content .svg-box li {
    width: 100%;
  }
  #wrap #main #section6 .container .wrap .content .img-box > li .gap .img-bg .title ul li h3 {
    font-size: 16px;
  }
  #wrap #main #section7 .container .wrap .content > ul > li {
    width: 100%;
  }
  #wrap #main #section8 .container .wrap .content ul li .text-box .gap .text span a {
    padding: 0 15px;
    border-radius: 15px;
    height: 30px;
    line-height: 26px;
    text-transform: uppercase;
  }
  #wrap #main #section9 .container .wrap .content ul li {
    width: 100%;
    text-align: center;
  }
  #wrap #main #section10 .container .wrap .content .list-box, #wrap #main #section10 .container .wrap .content form ul {
    width: 95%;
  }
}

@media all and (max-width: 400px) {
  #wrap #main #section6 .container .wrap .content .img-box > li .gap .img-bg .title ul {
    padding: 0 0 0 25px;
  }
  #wrap #main #section6 .container .wrap .content .img-box > li .gap .img-bg:hover .title ul {
    bottom: 30px;
  }
  #wrap #main #section10 .container .wrap .content .list-box, #wrap #main #section10 .container .wrap .content form ul {
    width: 100%;
  }
}

@media all and (max-width: 360px) {
  #wrap #main #section10 .container .wrap .content form ul li div button {
    height: 40px;
    padding: 0;
    width: 48%;
    font-size: 12px;
  }
}
