@charset "UTF-8";

@media all and (max-width: 1903px) {
  #wrap #main {
    #section6 .container .wrap .content .img-box > li .gap .img-bg .title ul li i {
      width: 55.193%;
    }

    #section8 .container .wrap .content ul li .text-box .gap {
      padding: 14.526%;
    }
  }
}

@media all and (max-width: 1170px) {
  #wrap {
    #main {
      #section2 {
        .container .wrap {
          .content ul {
            display: flex;
            flex-flow: row wrap;

            li {
              width: 50%;

              .gap {
                padding: 15px;
              }
            }
          }

          .title {
            padding: 0 0 7.692% 0;
          }
        }

        padding: 11.111% 0;
      }

      #section3 {
        padding: 11.111% 0;

        .container .wrap .title {
          padding: 0 0 7.692% 0;
        }
      }

      #section5 {
        padding: 11.111% 0;
      }

      #section6 .container .wrap .content .img-box {
        flex-flow: row wrap;

        > li {
          width: 50%;

          .gap {
            padding: 5px;
          }
        }
      }

      #section7, #section9, #section10 {
        padding: 11.111% 0;

        .container .wrap .title {
          padding: 0 0 7.692% 0;
        }
      }
    }

    #footer {
      padding: 4.992%  0  3.153%  0;

      .container .wrap > ul > li {
        &:nth-child(2) {
          padding: 2.564%  0;
        }

        &:nth-child(3) {
          padding: 1.709%  0 0 0;
        }
      }
    }
  }
}

@media all and (max-width: 991px) {
  #wrap {
    #header {
      .container {
        max-width: 750px;

        .wrap .nav #nav {
          position: absolute;
          top: 72px;
          left: 0;
          width: 100%;
          height: 100vh;
          overflow-y: scroll;
          transition: all .3s;
        }
      }

      &.addH60 .container .wrap .nav #nav {
        top: 60px;
      }

      .container .wrap .nav #nav > ul {
        display: block;
        padding: 0 0 0 0;
        background: #1c1c1c;

        li {
          width: 100%;
        }

        > li > {
          .sub .sub-wrap ul {
            display: block;

            li {
              width: 100%;
            }
          }

          a {
            color: #fff;
            height: 40px;
            line-height: 40px;
          }

          .sub {
            position: relative;
            top: 0;
          }
        }
      }

      &.addH60 .container .wrap .nav #nav > ul > li > {
        .sub {
          top: 0;
        }

        a {
          height: 40px;
          line-height: 40px;
        }
      }

      .container .wrap .nav {
        #nav {
          > ul > li > {
            .sub24 {
              width: 100%;
            }

            .sub .sub-wrap {
              padding: 0;

              ul li dl dt {
                padding: 0;
              }
            }

            .sub24 .sub-wrap > ul > li .sub-sub {
              position: relative;
              top: 0;
              left: 0;
              width: 100%;

              .sub-sub-wrap {
                padding: 0;
              }
            }

            .sub {
              .sub-wrap ul li dl {
                dt img, dd img {
                  display: none;
                }
              }

              &.sub1 {
                display: none;
              }

              &.sub2 {
                display: none;

                .sub-wrap ul li .sub-sub {
                  &.sub2-1, &.sub2-2, &.sub2-3, &.sub2-4, &.sub2-5 {
                    display: block;
                  }
                }
              }

              &.sub3 {
                display: none;
              }

              &.sub4 {
                display: none;

                .sub-wrap ul li .sub-sub {
                  &.sub4-1, &.sub4-2, &.sub4-3, &.sub4-4, &.sub4-5, &.sub4-6, &.sub4-7, &.sub4-8, &.sub4-9, &.sub4-10, &.sub4-11 {
                    display: block;
                  }
                }
              }

              &.sub5, &.sub6 {
                display: none;
              }

              display: none;
            }
          }

          display: none;
        }

        .mobile-btn-box {
          display: block;
        }

        #aside {
          width: 80px;
        }
      }
    }

    #main {
      #section1 .container .wrap .slide-container .slide-view .slide-wrap .slide .title {
        h3 {
          font-size: 1.816347124vw;
        }

        h2 {
          font-size: 7.063572149vw;
          padding: 1.576%  0;
        }
      }

      #section3 .container .wrap .content ul {
        flex-flow: row wrap;

        li {
          width: 50%;

          .gap {
            padding: 15px;
          }
        }
      }

      #section5 .container .wrap .content .svg-box {
        flex-flow: row wrap;

        li {
          width: 50%;

          > div {
            padding: 30px 0;
          }
        }
      }

      #section7 .container .wrap .content > ul {
        display: flex;
        flex-flow: row wrap;

        > li {
          width: 50%;

          .gap {
            margin: 15px;
          }
        }
      }

      #section8 .container .wrap .content ul {
        flex-flow: row wrap;
        text-align: center;

        li {
          width: 100%;

          .bg-img {
            height: 55.49949546vw;
          }

          .text-box .gap .text {
            h3 {
              font-size: 4.036326942vw;
              padding: 3.556%  0;
            }

            p {
              font-size: 1.41271443vw;
              line-height: 180%;
            }

            span {
              padding: 4.978% 0 0 0;
            }
          }
        }
      }

      #section9 .container .wrap {
        .title {
          h2 {
            font-size: 1.210898083vw;
          }

          h3 {
            font-size: 3.229061554vw;
          }
        }

        .content ul {
          flex-flow: row wrap;

          li {
            width: 50%;

            .gap {
              padding: 15px;
            }
          }
        }
      }

      #section10 .container .wrap {
        .title {
          h2 {
            font-size: 1.210898083vw;
          }

          h3 {
            font-size: 3.229061554vw;
          }
        }

        .content {
          form ul li:last-child {
            padding: 12.345679%  0 0 0;
          }

          .list-box {
            width: 65.5172414%;
            padding: 8.7719298%  0 0 0;
          }

          form ul {
            width: 65.5172414%;

            li div button {
              height: 40px;
              padding: 0;
              width: 160px;
            }
          }
        }
      }
    }

    #footer .container .wrap > ul > li {
      ul {
        flex-flow: row wrap;
        text-align: center;
      }

      &:nth-child(1) ul li {
        width: 100%;

        .gap h1 {
          padding: 20px 0 0 0;
        }
      }
    }
  }

  /* 메인메뉴 */
}

@media all and (max-width: 860px) {
  #wrap #main #section6 .container .wrap .content .img-box > li {
    width: 100%;

    .gap {
      padding: 15px;
    }
  }
}

@media all and (max-width: 760px) {
  #wrap #main {
    #section2 .container .wrap {
      .content ul li {
        width: 100%;

        .gap {
          padding: 15px;
        }
      }

      .title {
        h2 {
          font-size: 1.578947368vw;
        }

        p {
          font-size: 3.289473684vw;
        }
      }
    }

    #section3 .container .wrap .title {
      h2 {
        font-size: 1.842105263vw;
      }

      h3 {
        font-size: 4.210526316vw;
      }
    }

    #section4 .container .wrap .menu .menu-container {
      height: auto;
      padding: 11.053%  0;
      display: flex;

      ul li {
        display: block;
        text-align: center;
        padding: 8px 0;
      }
    }

    #section7 .container .wrap .title {
      h2 {
        font-size: 1.578947368vw;
      }

      h3 {
        font-size: 4.210526316vw;
      }
    }
  }
}

@media all and (max-width: 660px) {
  #wrap #footer .container .wrap > ul > li:nth-child(3) {
    ul {
      padding: 0 0 30px 0;

      li {
        width: 100%;
        padding: 5px 0;
      }
    }

    p {
      text-align: center;
    }
  }
}

@media all and (max-width: 600px) {
  #wrap #main #section10 .container .wrap .content {
    .list-box {
      width: 80%;
      padding: 8.7719298%  0 0 0;
    }

    form ul {
      width: 80%;
    }
  }
}

@media all and (max-width: 560px) {
  #wrap #main #section3 .container .wrap .content ul li {
    width: 100%;
  }
}

@media all and (max-width: 500px) {
  #wrap #main {
    #section1 .container .wrap .slide-container .slide-view .slide-wrap .slide .title {
      h2 {
        padding: 3%  0;
      }

      p a {
        width: 140px;
        height: 32px;
        line-height: 30px;
        border-radius: 16px;
        font-size: 10px;
      }
    }

    #section5 .container .wrap .content .svg-box li {
      width: 100%;
    }

    #section6 .container .wrap .content .img-box > li .gap .img-bg .title ul li h3 {
      font-size: 16px;
    }

    #section7 .container .wrap .content > ul > li {
      width: 100%;
    }

    #section8 .container .wrap .content ul li .text-box .gap .text span a {
      padding: 0 15px;
      border-radius: 15px;
      height: 30px;
      line-height: 26px;
      text-transform: uppercase;
    }

    #section9 .container .wrap .content ul li {
      width: 100%;
      text-align: center;
    }

    #section10 .container .wrap .content {
      .list-box, form ul {
        width: 95%;
      }
    }
  }
}

@media all and (max-width: 400px) {
  #wrap #main {
    #section6 .container .wrap .content .img-box > li .gap .img-bg {
      .title ul {
        padding: 0 0 0 25px;
      }

      &:hover .title ul {
        bottom: 30px;
      }
    }

    #section10 .container .wrap .content {
      .list-box, form ul {
        width: 100%;
      }
    }
  }
}

@media all and (max-width: 360px) {
  #wrap #main #section10 .container .wrap .content form ul li div button {
    height: 40px;
    padding: 0;
    width: 48%;
    font-size: 12px;
  }
}